<h1>All Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant),class: "" do %>
    <%= restaurant.name %>
    <%= restaurant.location %>
    <%= restaurant.opening_hours %>
    <%= restaurant.closing_hours %>
  <% end %>
<% end %>
